.container {
    text-align: center;
}


#choose-x,
#choose-o {
    width: 50px;
    height: 50px;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .85);
    --cell-background-color: darkgrey;
}

body {
    margin: 0;
}

.board {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: auto;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(116, 116, 116);
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: black;
}



.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);

}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--cell-background-color);
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
background-color: black;
border-color: white;
color: white;
}

.winning-message.show {
    display: flex;
}